# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs
Lab-Strings/x64
x64

# Visual Studio build outputs
Debug/
Release/
*.pdb
*.log
*.tlog
*.ipch
*.ideserial
